<!-- src/app/app.component.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Food Box</title>
    <link rel="icon" href="assets/IMG1.jpg" type="image/x-icon">
</head>
<body>

<div class="container my-4">
    <app-navbar></app-navbar>  <!-- Navbar Component -->

    <router-outlet></router-outlet>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
